<link rel="stylesheet" href="css.css" type="text/css">
body {scrollbar-face-color: #E8E8E8; 
      scrollbar-shadow-color: #FFFFFF; 
      scrollbar-highlight-color: #FFFFFF; 
      scrollbar-3dlight-color: #5B5B5B; 
      scrollbar-darkshadow-color: #5B5B5B; 
      scrollbar-track-color: #FFFFFF; 
      scrollbar-arrow-color: #5B5B5B; }


a:link {text-decoration:none; color:#494949;}
a:visited {text-decoration:none; color:#000000;}
a:hover { text-decoration:none; color:#0086C4;}

td { font-family: µ¸¿ò; font-size: 10pt; color: #434343; line-height: 18pt}  


.form {font-size:9pt; line-height: 9pt; color: #494949; background-color: #FFFFFF; padding-right: 1px; padding-left: 1px; border-style: dashed
	}


.mdf:link {text-decoration:none; color:#494949;line-height: 15pt}
.mdf:visited {text-decoration:none; color:#000000;line-height: 15pt}
.mdf:hover { text-decoration:none; color:#007B63;line-height: 15pt}


.mdfS {   padding-right:20; background-image:url(images/mdf_L01.gif)}
.mdfSover {  padding-right:20; background-image:url(images/mdf_L02.gif);cursor:hand; } 



.new:link {text-decoration:none; color:#494949;line-height: 15pt}
.new:visited {text-decoration:none; color:#000000;line-height: 15pt}
.new:hover { text-decoration:none; color:#2146FA4;line-height: 15pt}


.newS {   padding-right:20; background-image:url(images/new_L01.gif)}
.newSover {  padding-right:20; background-image:url(images/new_L02.gif);cursor:hand; } 




.bbs:link {text-decoration:none; color:#494949;line-height: 15pt}
.bbs:visited {text-decoration:none; color:#000000;line-height: 15pt}
.bbs:hover { text-decoration:none; color:#AA5707;line-height: 15pt}


.bbsS {   padding-right:20; background-image:url(images/bbs_L01.gif)}
.bbsSover {  padding-right:20; background-image:url(images/bbs_L02.gif);cursor:hand; } 




.in:link {text-decoration:none; color:#494949; line-height: 15pt}
.in:visited {text-decoration:none; color:#000000;line-height: 15pt}
.in:hover { text-decoration:none; color:#465FDE;line-height: 15pt}


.inS {   padding-right:20; background-image:url(images/intro_L01.gif)}
.inSover {  padding-right:20; background-image:url(images/intro_L02.gif);cursor:hand; } 




.test:link {text-decoration:none; color:#494949;line-height: 15pt}
.test:visited {text-decoration:none; color:#000000;line-height: 15pt}
.test:hover { text-decoration:none; color:#AB7D00;line-height: 15pt}


.testS {   padding-right:20; background-image:url(images/test_L01.gif)}
.testSover {  padding-right:20; background-image:url(images/test_L02.gif);cursor:hand; } 

.textarea {border:solid 1;border-color:347088;font-size:9pt;color:042330;background-color:white;}
.input {border:solid 1;border-color:739BAB;font-size:9pt;color:042330;background-color:white;height:19px}
.submit {border:solid 1;border-color:1F556A;font-size:9pt;color:white;background-color:50889F;height:19px}
.button {border:solid 1;border-color:1F556A;font-size:9pt;color:white;background-color:50889F;height:19px}

.thm7pt {font-family:tahoma;font-size:7pt}

.ment {border:1 solid; border-color:e7e7e7; background-color:fafafa; font-size:9pt; table-layout:fixed}
.ment_text {color:666666;font-size:9pt;line-height:140%;padding:10px;}

.line1 {background-color:#B4D2DE; padding:0}
.line2 {background-color:#D7EDF2; padding:0}

.title {background-image: url(list_back.gif); background-repeat-x; height:33px;}
.list0 {background-color:#EEF3F6; height:28px; font-size:9pt;}
.list1 {background-color:#F7FAFB; height:28px; font-size:9pt;}

.title_han {color:FFFFFF;font-weight:bold;font-size:9pt}
.list_han {color:13485D;font-size:9pt;text-decoration:none;text-decoration:none}

.title_eng {font-family:tahoma;color:FFFFFF;font-weight:bold;font-size:8pt;text-decoration:none}
.list_eng {font-family:tahoma;color:13485D;font-size:8pt;text-decoration:none}

