body{scrollbar-3dlight-color:E7E7E7;scrollbar-arrow-color:A8A8A8;scrollbar-base-color:E7E7E7;scrollbar-darkshadow-color:E7E7E7;scrollbar-face-color:e4e4e4;scrollbar-highlight-color:FFFFF;scrollbar-shadow-color:E7E7E7;font-size:12px;font-family:"Trebuchet MS", "³ª´®°íµñ", "¸¼Àº°íµñ", dotum, gulim, "Helvetica", "Arial", "Verdana", "sans-serif";margin:0;padding:0;text-align:center;}
body > table{margin:0 auto;}
#wrap{margin:0 auto;}
table{font-size:1em;}
td{font-family:"µ¸¿ò,Dotum";font-size:11px;line-height:18px;color:#666666;letter-spacing:0px;}
.form1{border-width:1px;border-color:#EFEFEF;border-style:solid;height:18px;font-family:µ¸¿ò, dotum;color:#666666;font-size:12px;background-color:#F7F7F7;text-valign:middle;}
.form2{border-width:1px;border-color:#D4D4D4;border-style:solid;height:19px;font-family:µ¸¿ò, dotum;color:#666666;font-size:11px;background-color:#FFFFFF;text-valign:middle;scrollbar-3dlight-color:E7E7E7;scrollbar-arrow-color:A8A8A8;scrollbar-base-color:E7E7E7;scrollbar-darkshadow-color:E7E7E7;scrollbar-face-color:e4e4e4;scrollbar-highlight-color:FFFFF;scrollbar-shadow-color:E7E7E7;padding-top:3px;}
.search{border:1px #E0E0E0 solid;height:18;background-color:#FFFFFF;font-family:µ¸¿ò;color:#F65D1A;font-size:8pt;padding:2 0 0 2;text-valign:middle;}
.multi{border:1px #CFCFCF solid;background-color:#FFFFFF;color:#666666;font-size:9pt;text-align:left;text-valign:middle;}
.file{border:1px #CFCFCF solid;height:19;background-color:#FFFFFF;color:#666666;font-size:9pt;text-align:left;text-valign:middle;}
.sele{height:20;background-color:#E9E9E9;color:#666666;font-size:9pt;middle;}
.radio{border:solid 0;border-color:#e1e1e1;font-family:µ¸¿ò,dotum;font-size:12px;color:#595959;line-height:18px;alignment:middle}
.check{border:solid 0;border-color:#e1e1e1;font-family:µ¸¿ò,dotum;font-size:12px;color:#595959;line-height:18px;alignment:middle}
.btn_text{height:21px;font-family:µ¸¿ò, dotum;color:#666666;font-size:11px;line-height:10pt;}
.GenTxt{font-family:"µ¸¿ò,dotum";font-size:12px;color:#666666;text-decoration:none;line-height:18px;letter-spacing:0px}
.GenTxt a:link{font-family:"µ¸¿ò,dotum";font-size:12px;color:#666666;text-decoration:none;line-height:18px;letter-spacing:0px}
.GenTxt a:visited{font-family:"µ¸¿ò,dotum";font-size:12px;color:#666666;text-decoration:none;line-height:18px;letter-spacing:0px}
.GenTxt a:hover{font-family:"µ¸¿ò,dotum";font-size:12px;color:#FD9E59;text-decoration:underline;line-height:18px;letter-spacing:0px}
.GenTxt2{font-family:"µ¸¿ò,Dotum";font-size:11px;line-height:16px;color:#888888;letter-spacing:0px;text-align:justify}
.GenTxt_orange{font-family:"µ¸¿ò,Dotum";font-size:11px;line-height:16px;color:#f37a21;letter-spacing:0px}
.GenTxt_green{font-family:"µ¸¿ò,Dotum";font-size:11px;line-height:16px;color:#7dbe00;letter-spacing:0px}
.GenTxt_small{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;color:#cccccc;}
.bill_b{color:#0033cc;font-size:11px;line-height:15px}
.bill_r{color:#ff0000;font-size:11px;line-height:15px}
.bill_w{color:#655c44;font-size:11px;line-height:15px}
.price{color:#f96c13;font-size:12px;font-weight:bold}
.price_text{color:#868686;font-size:11px}
.price_big{color:#4d4d4d;font-size:14px;font-weight:bold}
.navi{font-family:"µ¸¿ò,dotum";font-size:11px;color:#666666;text-decoration:none;line-height:18px;letter-spacing:-1px}
.navi a:link{font-family:"µ¸¿ò,dotum";font-size:11px;color:#666666;text-decoration:none;line-height:18px;letter-spacing:-1px}
.navi a:visited{font-family:"µ¸¿ò,dotum";font-size:11px;color:#666666;text-decoration:none;line-height:18px;letter-spacing:-1px}
.navi a:hover{font-family:"µ¸¿ò,dotum";font-size:11px;color:#F27D00;text-decoration:underline;line-height:18px;letter-spacing:-1px}
.submenu{font-family:"±¼¸²,dotum";font-size:12px;color:#666666;text-decoration:none;line-height:15px;letter-spacing:0px;letter-spacing:0px}
.submenu a:link{font-family:"±¼¸²,dotum";font-size:12px;color:#666666;text-decoration:none;line-height:15px;letter-spacing:0px;letter-spacing:0px}
.submenu a:visited{font-family:"±¼¸²,dotum";font-size:12px;color:#666666;text-decoration:none;line-height:15px;letter-spacing:0px;letter-spacing:0px}
.submenu a:hover{font-family:"±¼¸²,dotum";font-size:12px;color:#F27D00;text-decoration:none;line-height:15px;letter-spacing:0px;letter-spacing:0px}
.prod{font-family:"Times New Roman,µ¸¿ò";font-size:11px;color:#999999;text-decoration:none;line-height:17px;}
.prod a:link{font-family:"Times New Roman,µ¸¿ò";font-size:11px;color:#999999;text-decoration:none;line-height:17px;letter-spacing:0px}
.prod a:visited{font-family:"Times New Roman,µ¸¿ò";font-size:11px;color:#999999;text-decoration:none;line-height:17px;letter-spacing:0px}
.prod a:hover{font-family:"Times New Roman,µ¸¿ò";font-size:11px;color:#FE0000;text-decoration:none;line-height:17px;letter-spacing:0px}
.txtc{font-family:"µ¸¿ò,verdana";font-size:12px;color:#F27D00;text-decoration:none;line-height:16px;letter-spacing:-1px;}
.txtc a:link{font-family:"µ¸¿ò,verdana";font-size:12px;color:#F27D00;text-decoration:none;line-height:16px;letter-spacing:-1px;}
.txtc a:visited{font-family:"µ¸¿ò,verdana";font-size:12px;color:#F27D00;text-decoration:none;line-height:16px;letter-spacing:-1px;}
.txtc a:hover{font-family:"µ¸¿ò,verdana";font-size:12px;color:#F27D00;text-decoration:underline;line-height:16px;letter-spacing:-1px;}
.board1{font-family:"µ¸¿ò,dotum";font-size:12px;color:#666666;text-decoration:none;line-height:18px;letter-spacing:0px;}
.board1 a:link{font-family:"µ¸¿ò,dotum";font-size:12px;color:#666666;text-decoration:none;line-height:18px;letter-spacing:0px;}
.board1 a:visited{font-family:"µ¸¿ò,dotum";font-size:12px;color:#666666;text-decoration:none;line-height:18px;letter-spacing:0px;}
.board1 a:hover{font-family:"µ¸¿ò,dotum";font-size:12px;color:#F27D00;text-decoration:none;line-height:18px;letter-spacing:0px;}
.btn_kr{font-family:"";font-size:9pt;background-color:#EAEAEA}
.admin{font-family:"µ¸¿ò,dotum";font-size:11px;color:#3e5571;text-decoration:none;line-height:18px;}
.admin a:link{font-family:"µ¸¿ò,dotum";font-size:11px;color:#3e5571;text-decoration:none;line-height:18px;}
.admin a:visited{font-family:"µ¸¿ò,dotum";font-size:11px;color:#3e5571;text-decoration:none;line-height:18px;}
.admin a:hover{font-family:"µ¸¿ò,dotum";font-size:11px;color:#92c3ff;text-decoration:none;line-height:18px;}
.admin2{font-family:"µ¸¿ò,dotum";font-size:11px;color:#ffffff;text-decoration:none;line-height:18px;}
.admin2 a:link{font-family:"µ¸¿ò,dotum";font-size:11px;color:#ffffff;text-decoration:none;line-height:18px;}
.admin2 a:visited{font-family:"µ¸¿ò,dotum";font-size:11px;color:#ffffff;text-decoration:none;line-height:18px;}
.admin2 a:hover{font-family:"µ¸¿ò,dotum";font-size:11px;color:#92c3ff;text-decoration:underline;line-height:18px;}
.admin3{font-family:"µ¸¿ò,dotum";font-size:11px;color:#666666;text-decoration:none;line-height:18px;}
.admin3 a:link{font-family:"µ¸¿ò,dotum";font-size:11px;color:#666666;text-decoration:none;line-height:18px;}
.admin3 a:visited{font-family:"µ¸¿ò,dotum";font-size:11px;color:#666666;text-decoration:none;line-height:18px;}
.admin3 a:hover{font-family:"µ¸¿ò,dotum";font-size:11px;color:#ff8000;text-decoration:underline;line-height:18px;}
.admin4{font-family:"µ¸¿ò,dotum";font-size:11px;color:#0e3162;text-decoration:none;line-height:18px;}
.admin4 a:link{font-family:"µ¸¿ò,dotum";font-size:11px;color:#0e3162;text-decoration:none;line-height:18px;}
.admin4 a:visited{font-family:"µ¸¿ò,dotum";font-size:11px;color:#0e3162;text-decoration:none;line-height:18px;}
.admin4 a:hover{font-family:"µ¸¿ò,dotum";font-size:11px;color:#1c4a8b;text-decoration:underline;line-height:18px;}
a{font-family:dotum, "Trebuchet MS", "¸¼Àº°íµñ";font-size:11px;line-height:18px;}
a:link{color:#666666;text-decoration:none;}
a:visited{color:#666666;text-decoration:none;}
a:hover{color:#ff8000;text-decoration:underline;}
a, area{blr:expression(this.onFocus=this.blur())}
:focus{-moz-outline-style:none;}
.no a:link{font-family:"µ¸¿ò,verdana";font-size:9pt;color:#99AB1D;text-decoration:none;line-height:18px;}
.no a:visited{font-family:"µ¸¿ò,verdana";font-size:9pt;color:#99AB1D;text-decoration:none;line-height:18px;}
.no a:hover{font-family:"µ¸¿ò,verdana";font-size:9pt;color:#A2AE4C;text-decoration:underline;line-height:18px;}
.nc a:link{font-family:"µ¸¿ò,verdana";font-size:9pt;color:#FF7714;text-decoration:none;line-height:18px;}
.nc a:visited{font-family:"µ¸¿ò,verdana";font-size:9pt;color:#FF7714;text-decoration:none;line-height:18px;}
.nc a:hover{font-family:"µ¸¿ò,verdana";font-size:9pt;color:#FD9E59;text-decoration:underline;line-height:18px;}
.sub{font-family:"µ¸¿ò";font-size:9pt;color:#666666;text-decoration:line-through;}
.btn_en_red{font-family:"tahoma";font-size:9pt;background-color:#F8C0C8}
.btn_en_yellow{font-family:"tahoma";font-size:9pt;background-color:#FFFF3C}
.btn_en_green{font-family:"tahoma";font-size:9pt;background-color:#00DB00}
.btn_en_gray{font-family:"tahoma";font-size:9pt;background-color:#B9B9B9}
.map{font-family:"µ¸¿ò,dotum";color:#4d4d4d;font-size:14px;font-weight:bold;text-decoration:none;letter-spacing:-1px}
.map a:link{font-family:"µ¸¿ò,dotum";font-size:14px;color:#4d4d4d;text-decoration:none;letter-spacing:-1px}
.map a:visited{font-family:"µ¸¿ò,dotum";font-size:14px;color:#4d4d4d;text-decoration:none;letter-spacing:-1px}
.map a:hover{font-family:"µ¸¿ò,dotum";font-size:14px;color:#F27D00;text-decoration:none;letter-spacing:-1px}
#admin_sidemenu{border:1px solid #3e5571;background:#001a38;border-collapse:collapse;padding:0;margin:0;}
#admin_sidemenu table{text-align:left;padding:0;margin:0;}
#admin_sidemenu{line-height:13px;}